{% extends 'base.html.twig' %}

{% block body %}
    <h2>Vous êtes perdu ?</h2>
    <a href="">
        <img src="{{ asset('assets/img/logo_coran_revision.png') }}" alt="erreur_404">
{% endblock %}

{% block title %}Erreur 404 ! | {{ parent() }}{% endblock %}